@use '@styles/colors';
@import '@styles/mixins/font.scss';

@mixin btn {
	display: flex;
	gap: 0.34rem;
	box-sizing: border-box;
	border: solid 1px transparent;
	border-radius: 0.625rem;

	transition:
		color 0.2s,
		background-color 0.2s ease-in-out;

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		background-color: $neutral-background-second-color;
		color: $neutral-text-light-color;
	}

	svg {
		width: 1em;
		height: 1em;
	}
}

@mixin primary-btn {
	@include btn;

	color: colors.$neutrals-900;
	background-color: colors.$primary-400;

	&:hover {
		background-color: colors.$primary-300;
	}

	&:active,
	&:focus,
	&[data-state='open'] {
		background-color: colors.$primary-500;
		color: colors.$neutrals-100;
	}

	&:focus-visible {
		outline: solid 2px colors.$primary-900;
		background-color: colors.$primary-300;
		color: colors.$neutrals-900;
	}
}

@mixin transparent-btn {
	@include btn;

	border: 1px solid $neutral-line-color;
	background-color: transparent;

	&:hover {
		border-color: colors.$primary-300;
	}

	&:active,
	&:focus {
		border-color: colors.$primary-500;
	}

	&:focus-visible {
		border-color: transparent;
		outline: solid 2px colors.$primary-900;
	}
}

@mixin secondary-btn {
	@include btn;

	background-color: $secondary-button-color;

	&:hover {
		color: $neutral-text-contrast-color;
	}

	&_active {
		background-color: $secondary-button-color;
	}
}

@mixin tall-btn {
	padding: 16px 39px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}
