@import '@styles/colors.scss';
@import '@styles/mixins';

.icon_container {
	position: relative;

	//	cursor: url('@assets/icons/mouse_pointer.svg'), auto;
}

.tooltip {
	position: absolute;
	top: -235%;
	left: 70%;
	width: 187px;
	background-color: $white;
	border: 1px solid $gray_light;
	padding: 12px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	@include font-source-sans(12px, $black, 400, 15px);
	text-align: center;
	display: none;
	z-index: 5;
}

.icon_container:hover .tooltip {
	display: block;
	// cursor: url('@assets/icons/mouse_pointer.svg'), auto;
}
