@import '~/src/styles';

.cardWord {
	background-color: $white;
	border-radius: 5px;
	box-shadow:
		0px 0px 8px 0px rgba(17, 17, 26, 0.1),
		0px 1px 0px 0px rgba(17, 17, 26, 0.05);
	padding: 18px 24px 0;
}

.cardWordPadding {
	padding: 0 18px 34px;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.wordStatus {
	display: grid;
	column-gap: 8px;
	grid-auto-flow: column;
	align-items: center;
}

.fireIcon {
	display: inline-block;
	background-image: url('@assets/icons/wordProfile/fire.svg');
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

.wordStatusText {
	@include font-source-sans(12px, $black_text, 400, 14px);

	display: inline-block;
	margin: 0;
}

.buttonQuestion {
	background-color: inherit;
	cursor: pointer;
	transform: translateY(1px);
}

.questionIcon {
	display: inline-block;
	background-image: url('@assets/icons/wordProfile/question.svg');
	background-repeat: no-repeat;
	width: 11px;
	height: 12px;
}

.controlList {
	margin: 0;
	padding: 0;
	display: grid;
	column-gap: 4px;
	grid-auto-flow: column;
}

.controlItem {
	display: inline-block;
	list-style: none;
}

.buttonControl {
	display: flex;
	align-items: center;
	background-color: inherit;
	cursor: pointer;
}

.buttonControlMarginRight {
	margin-right: 36px;
}

.buttonControlMarginLeft {
	margin-left: 36px;
}

.commentIcon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('@assets/icons/wordProfile/comment.svg');
	background-repeat: no-repeat;
}

.collectionIcon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('@assets/icons/wordProfile/collection.svg');
	background-repeat: no-repeat;
}

.arrowIcon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('@assets/icons/wordProfile/arrow.svg');
	background-repeat: no-repeat;
}

.menuDotsIcon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('@assets/icons/wordProfile/menuDots.svg');
	background-repeat: no-repeat;
}

.buttonTranslate {
	display: block;
	margin-left: auto;
	padding: 12px 24px;
	border: 1px solid $gray_light;
	background-color: transparent;
	border-radius: 5px;
	cursor: pointer;
	transform: translateY(18px);
}

.buttonTranslateText {
	@include font-source-sans(12px, $black_text, 400, 14px);

	display: inline-block;
	margin: 0;
}

.marginRight {
	margin-right: 4px;
}

.colorGray {
	color: $white_aluminum;
}

.wordWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lang {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.languageIcon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('@assets/icons/wordProfile/language.svg');
	background-repeat: no-repeat;
}

.languageText {
	@include font-source-sans(14px, $black_text, 400, 16px);

	display: inline-block;
	margin: 0 0 0 10px;
}

.word {
	display: flex;
	align-items: baseline;
	margin-bottom: 62px;
}

.marginBottom {
	margin-bottom: 30px;
}

.buttonArrowLeft {
	display: inline-block;
	width: 14px;
	height: 18px;
	background-image: url('@assets/icons/wordProfile/arrowLeft.svg');
	background-repeat: no-repeat;
}

.buttonArrowRight {
	display: inline-block;
	width: 14px;
	height: 18px;
	background-image: url('@assets/icons/wordProfile/arrowRight.svg');
	background-repeat: no-repeat;
}

.wordText {
	@include font-source-sans(32px, $black, 400, 38px, 'Fredoka');

	margin: 0 4px 0 0;
}

.copyIcon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('@assets/icons/wordProfile/copy.svg');
	background-repeat: no-repeat;
}

.controlDotsList {
	display: flex;
	justify-content: center;
}

.dotButton {
	display: flex;
	padding: 5px;
	background-color: transparent;
	margin: 0;
	cursor: pointer;
}

.dotIcon {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: $light_gray;
}

.active {
	background-color: $blue_dark;
}
