@import '/src/5_shared/styles/index';

.content {
	display: grid;
	grid-template-columns: 0 auto;
	grid-template-rows: auto auto;
	background-color: $neutral-background-second-color;

	.inner {
		background-color: $neutral-background-second-color;
		width: 100%;
		margin: 0 auto;
		padding: 0 215px;
		max-width: 1600px;
		// @include media($min-width: 1750px) {
		// 	max-width: 2190px;
		// }

		// @include media($max-width: 1750px, $min-width: 1350px) {
		//
		// }

		@include media($max-width: 1350px, $min-width: 830px) {
			padding: 0 115px;
		}

		@include media($max-width: 830px) {
			padding: 0 65px;
		}
	}
}
