@import '@styles/colors.scss';
@import '@styles/mixins';

.title {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 0;

	&_regular {
		@include font-source-sans(16px, $neutral-text-main-color, 400, 'auto', 'Inter');
	}

	&_bold {
		@include font-source-sans(20px, $neutral-text-dark-color, 500, 'auto', 'Inter');
	}
}
