$gray: #666;
$gray_danger: #656a76;
$blue: #add3ff;
$white: #fff;
$gray_light: #d9d9d9;
$gray_dark: #9fa6ae;
$black: #202020;

$blue_dark: #6c8dff;
$red: #ca2744;
$accent-light: #9eb4ff;
$dark: #595d68;

$grey-light: #dddddd;

$warning-color: #ca2744;
$black_text: #111;
$white_aluminum: #acacac;
$light_gray: #b6b6b6;
$dusty-blue: #b9e7e7;
