$primary-background-color: #b3c3fd;
$primary-background-dark-color: #464f6f;
$primary-button-color: #9eb4ff;
$primary-brand-color: #6c8dff;
$primary-button-dark-color: #5775dc;

$secondary-button-color: #add3ff;
$secondary-button-bright-color: #81bbff;

$neutral-background-main-color: #ffffff;
$neutral-background-second-color: #fafafa;
$neutral-line-color: #dddddd;

$neutral-text-main-color: #272932;
$neutral-text-contrast-color: #ffffff;
$neutral-text-light-color: #cdcdcd;
$neutral-text-middle-color: #656a76;
$neutral-text-dark-color: #595d68;
$neutral-text-danger-color: #737782;

$success-color: #70a872;
$danger-color: #ca2744;
$warning-color: #ffaf05;
