@import '@styles/colors.scss';
@import '@styles/mixins.scss';

.container {
	padding-bottom: 62px;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.buttons {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 4px;
	list-style: none;
}

.word {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.wordText {
	@include font-source-sans(32px, $neutral-text-main-color, 400, 38px, 'Fredoka');

	margin: 0 4px 0 0;
}
