@import '@styles/colors.scss';
@import '@styles/mixins.scss';

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 14px;
	background-color: transparent;
	border-radius: 5px;
}

.text {
	@include font-source-sans(12px, $neutral-text-main-color, 400, 14px);

	text-transform: uppercase;
	margin: 0;
}

.dustyBlue {
	background-color: $secondary-button-bright-color;
}
