@import '@styles/colors.scss';
@import '@styles/mixins';

.button {
	border-radius: 5px;
	padding: 15px 32px;
	box-sizing: border-box;
	@include font-source-sans(14px, $neutral-text-main-color, 500, 17px);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition:
		color 0.2s,
		background-color 0.2s ease-in-out;
	cursor: pointer;

	&_tall {
		max-width: 216px;
		height: 60px;
		padding: 22px 32px;
		font-size: 12px;
	}

	&:disabled {
		background-color: $neutral-background-second-color;
		color: $neutral-text-light-color;
	}

	&_primary {
		border: none;
		background-color: $primary-button-color;

		&:hover {
			color: $neutral-text-contrast-color;
		}

		&_active {
			background-color: $primary-button-dark-color;
		}
	}

	&_secondary {
		border: none;
		background-color: $secondary-button-color;

		&:hover {
			color: $neutral-text-contrast-color;
		}

		&_active {
			background-color: $secondary-button-bright-color;
		}
	}

	&_transparent {
		border: 1px solid $neutral-line-color;
		background-color: transparent;
	}
}
