$primary-brand-color: #6c8dff;

$primary-button-color: #9eb4ff;
$primary-button-hover-color: #b3c3fd;
$primary-button-active-color: #6c8dff;
$primary-button-disabled-color: #eeeeee;
$secondary-button-color: #add3ff;

$primary-background-color: #b3c3fd;
$primary-background-dark-color: #464f6f;
$neutral-background-main-color: #ffffff;
$neutral-background-second-color: #fafafa;
$neutral-background-middle-color: #c2c8d3;
$neutral-line-color: #dddddd;

$neutral-text-main-color: #272932;
$neutral-text-contrast-color: #ffffff;
$neutral-text-light-color: #cdcdcd;
$neutral-text-middle-color: #737782;
$neutral-text-dark-color: #595d68;

$success-color: #41db4e;
$success-dark-color: #2fbc48;
$danger-color: #ca2744;
$danger-bright-color: #ff384f;
$warning-color: #ffaf05;
