@import '@styles/colors';

.banner {
  margin: auto;
  width: 850px;
  height: 136px;
  padding: 40px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 49px;
  background: #6c8dff80;

  .left {
    width: 267px;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;

    b {
      font-size: 13px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0;
      text-align: left;
    }
  }

  .splitter {
    height: 100%;
    width: 1px;
    background: #6272aa;
  }

  .right {
    width: 199px;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
  }

  .button {
    max-width: 176px;
    font-size: 14px;
    background: $primary-brand-color;

    .icon {
      min-width: 20px;
      width: 20px;
      min-height: 20px;
      height: 20px;
    }
  }
}
