@import '@styles/mixins/font';

.radioItem {
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: lowercase;
  line-height: 1.3rem;
}

.arrow {
  display: flex;
  justify-content: center;
  width: 17px;

  @include font-source-sans(18px, $ff: 'Fredoka');
}
