@use '@styles/colors' as colors;

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	outline: none;
	transition: opacity 0.2s ease-in-out;

	&_light {
		color: colors.$neutral-background-second-color;
	}

	&_dark {
		color: colors.$neutral-text-dark-color;
	}

	&:hover {
		opacity: 0.7;
		cursor: pointer;
	}
}

.withBorder {
	border: solid 1px colors.$neutral-line-color;
	border-radius: 0.75rem;
	width: 2rem;
	height: 2rem;
}
