@import '@styles/mixins/font';

.list {
	margin-top: 0.8rem;
}

.item {
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.75rem;
	font-size: 0.875rem;
	line-height: 1;
}

.marginTop {
	margin-top: 1rem;
}

.header {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 0;
}

.title {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	@include font-source-sans(0.625rem, $neutrals-900, 400, 0.75);
	text-transform: uppercase;
}
