@use '@styles/colors' as colors;
@use '@styles/mixins/font' as mixins;

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include mixins.font-source-sans(1.25rem, colors.$neutrals-900, 500, 1.5rem);
}

.message {
	display: flex;
	gap: 1rem;
	margin: 0;
}
