@import '@styles/colors.scss';
@import '@styles/mixins';

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: transparent;
	background-color: transparent;
	outline: none;
	transition: opacity 0.2s ease-in-out;

	&_light {
		color: $neutral-background-second-color;
	}

	&_dark {
		color: $neutral-text-dark-color;
	}

	&:hover {
		opacity: 0.7;
		cursor: pointer;
	}
}
