@import '@styles/colors';
@import '@styles/mixins/font';

.container {
	background-color: $neutral-background-main-color;
	border: 1px solid $neutral-line-color;
	border-radius: 10px;
	width: 278px;
	height: 178px;
	padding: 10px;

	.icons_container {
		display: flex;
		gap: 10px;
	}
}
