@import '@styles/colors';
@import '@styles/mixins/font';

.container {
	width: 240px;
	height: 164px;
	display: flex;
	justify-content: center;
}

.infinitiveContainer {
	background-color: $neutral-background-main-color;
}

.pastParticipleContainer {
	background-color: $danger-background-light-color;
}

.presentPerfectContainer {
	background-color: $secondary-background-very-light-color;
}

.pastPerfectContainer {
	background-color: $success-background-light-color;
}

.word {
	@include font-source-sans(24px, $neutral-text-main-color, 500, 24px);
	letter-spacing: 0.18px;
	padding-bottom: 20px;
}

.form {
	text-transform: uppercase;
	@include font-source-sans(12px, $neutral-text-main-color, 400, 12px);
}
