@import '@styles/colors.scss';
@import '@styles/mixins';

.section {
	display: flex;
	flex-direction: column;
	margin-bottom: 5em;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title_left {
			display: flex;
			align-items: center;
			gap: 10px;

			.itemRed {
				@include font-source-sans(16px, $red, 400, 19px);
			}

			.itemGrey {
				@include font-source-sans(12px, $gray_danger, 400, 15px);
			}
		}

		.title_right {
			display: flex;
			align-items: center;
			gap: 16px;

			.button {
				max-width: 142px;
				padding: 13px 44px;
				font-weight: 400;
			}

			.linkButton {
				@include font-source-sans(12px, $gray_danger, 400, 15px);
				text-decoration: none;
			}
		}
	}
	.carousel {
		width: 100%;
		position: relative;

		.slider {
			width: 100%;
			overflow: hidden;
			margin-top: -40px;
			padding-top: 40px;
			& :global(.slick-list) {
				overflow: visible;
			}
		}

		.arrows {
			position: absolute;

			&:first-child {
				left: -55px;
			}

			&:last-child {
				right: -55px;
			}
		}
	}
}
