@import '@styles/colors.scss';
@import '@styles/mixins';

.section {
	display: flex;
	flex-direction: column;
	margin-bottom: 5em;
	

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.title_left {
			display: flex;
			align-items: center;
			gap: 10px;

			.itemRed {
				@include font-source-sans(16px, $danger-color, 400, 20px, 'Fredoka');
			}

			.itemGrey {
				@include font-source-sans(12px, $neutral-text-middle-color, 400, 15px, 'Inter');
			}
		}

		.title_right {
			display: flex;
			align-items: center;
			
			.button {
				@include font-source-sans(12px, $neutral-text-main-color, 500, 20px, 'Inter');
				padding: 8px 28px;

				&:hover {
					color: $neutral-text-contrast-color;
				  }
			}

			.linkButton {
				@include font-source-sans(12px, $neutral-text-danger-color, 400, 15px, 'Inter');
				text-decoration: none;
			}
		}
	}
	.carousel {
		width: 100%;
		position: relative;
			
		.slider {
			width: 100%;
			padding-top: 8px;
			margin-right: -24px;
			& :global(.slick-list) {
				overflow: visible;
				// overflow-y: visible;
				overflow-x: clip;				
			}
		}

		.arrows {
			position: absolute;

			&:first-child {
				left: -55px;
			}

			&:last-child {
				right: -55px;
			}
		}
	}
}
