@import '@styles/colors';
@import '@styles/mixins';

.lang {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 50px;
	color: $neutral-text-dark-color;
}

.selectLang {
	appearance: none;
	text-transform: uppercase;
	font-weight: 500;
	margin-left: 10px;
	border: none;
	cursor: pointer;
	@include font-source-sans(15px, $neutral-text-dark-color, 400, 18px, 'Fredoka');

	&:hover,
	&:focus {
		outline: none;
	}
}
