@import '@styles/colors.scss';
@import '@styles/mixins/font.scss';
@import '@styles/mixins/media.scss';

footer {
	grid-column: 1/3;
	@include media($min-width: 960px) {
		padding: 0 100px;
	}

	@include media($max-width: 960px) {
		padding: 0 2em 0 100px;
	}
}

.links {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	align-items: center;
	gap: 14px;
	padding: 2em;

	@include media($max-width: 835px) {
		flex-direction: column;
	}
}

.link,
.copyright {
	@include font-source-sans(14px, $neutral-text-dark-color, 400, 16px);
}
