@import '@styles/colors';
@import '@styles/mixins/font';

// .container {
// 	margin: 0 auto;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// }

// .popularity {
// 	font-family: Inter;
// 	font-size: 10px;
// 	font-style: normal;
// 	font-weight: 400;
// 	text-transform: uppercase;

// 	&_level {
// 		&_высокая {
// 			color: $success-color;
// 		}
// 		&_средняя {
// 			color: $warning-color;
// 		}
// 		&_низкая {
// 			color: $danger-color;
// 		}
// 	}
// }

.popularity {
	@include font-source-sans(10px, $neutral-text-main-color, 400, 12px);
	text-transform: uppercase;
	text-align: center;
}

.high {
	display: block;
	color: $success-color;
}

.medium {
	display: block;
	color: $warning-color;
}

.low {
	display: block;
	color: $danger-color;
}
