@import '@styles/colors';
@import '@styles/mixins/font';

.popularity {
	@include font-source-sans(10px, $neutral-text-main-color, 400, 12px);
	text-transform: uppercase;
	margin: 0;
}

.high {
	color: $success-color;
}

.medium {
	color: $warning-color;
}

.low {
	color: $danger-color;
}
